<ion-header>
    <ion-toolbar>
      <ion-title>
        Leave Balance
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>

    Hi! Welcome to the Leave Tracker Application. The following are your leave balance:

    <h4>Annual Leave/Emergency Leave:</h4>
    <h4>Medical Leave:</h4>
    
    <ion-button expand="block" [routerLink]="'/leave-request-form'">Request</ion-button>
    <ion-button expand="block" [routerLink]="'/os-form'">Check Status</ion-button>
  </ion-content>